<h1 class="sg" name="styleguide-generator">Styleguide Generator</h1>
<h2 class="sg" name="creating-a-section">Creating a section</h2>
<p class="sg">Creates a section as an overview, no code goes into this</p>
<div hljs="">// Section Title
//
// A description about this section
//
// Styleguide 1.0

</div>
<h2 class="sg" name="creating-a-sub-section">Creating a sub-section</h2>
<div hljs="">// Section Sub-title
//
// Description
//
// markup:
// &lt;div class=&quot;example&quot;&gt;
//    &lt;p&gt;Hello world!&lt;/p&gt;
// &lt;/div&gt;
//
// :hover - Highlight the button when hovered
//
// Styleguide 1.1
</div>
